* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: 100vh;
	grid-template-areas: "sbr hdr" "sbr main";
}

.sidebar {
	grid-area: sbr;
	background-color: blue;
}

.header {
	grid-area: hdr;
	background-color: aqua;
}

.main {
	grid-area: main;
	background-color: aliceblue;
}

.logo img {
	height: 2rem;
}

.logo {
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.25vw;
}

.mid li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.7vw;
}

.mid li img {
	height: 1rem;
}

.end li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.7vw;
}

.end li img {
	height: 1rem;
}
