@font-face {
	font-family: "Odin-like";
	src: url("./assets/fonts/Odin-like/WDXLLubrifontJPN-Regular.ttf");
}

@font-face {
	font-family: "Default-Style";
	src: url("./assets/fonts/Default-style/JosefinSans-VariableFont_wght.ttf");
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Default-Style";
}

body {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: 100vh;
	grid-template-areas: "sbr hdr" "sbr main";
}

.sidebar {
	grid-area: sbr;
	background-color: rgb(2, 118, 212);
}

.header {
	grid-area: hdr;
	background-color: rgb(255, 255, 255);
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "Search Acc" "Greet Btns";
	height: min-content;
}

.main {
	grid-area: main;
	background-color: rgb(204, 204, 204);
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "Pro Ann" "Pro tren";
}
/* #region sidebar */
.logo img {
	height: 2.5rem;
	align-self: center;
	filter: invert(1);
}
.logo h1 {
	align-self: last baseline;
}
.logo {
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.25vw;
	margin: 5px;
}

.mid {
	margin: 20px;
}

.mid li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.7vw;
	color: white;
	margin: 10px 0px;
}

.mid li p {
	align-self: last baseline;
}

.mid li img {
	height: 1.25rem;
	filter: invert(1);
}

.end {
	margin: 20px;
	margin-top: 30px;
}

.end li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.7vw;
	color: white;
	margin: 10px 0px;
}

.end li p {
	align-self: last baseline;
}

.end li img {
	height: 1.25rem;
	filter: invert(1);
}

/* #endregion */

/* #region header */

.search {
	display: flex;
	align-items: center;
	grid-area: Search;
	width: 100%;
}

.search img {
	height: 1rem;
	justify-self: flex-start;
	margin-left: 15px;
	margin-right: 5px;
}

.search input {
	justify-self: flex-end;
	border: none;
	border-radius: 10px;
	background-color: rgb(204, 204, 204);
	width: 70%;
}

.acc {
	grid-area: Acc;
	display: flex;
	margin: 10px;
	gap: 12px;
	align-items: center;
}

.acc img {
	height: 1rem;
}

#me {
	border-radius: 50%;
	height: 1.6rem;
}

.greet {
	grid-area: Greet;
	display: flex;
	align-items: center;
}

.greet img {
	height: 2.5rem;
	border-radius: 50%;
	margin: 10px;
	margin-top: 0;
}

.greet .ingreet {
	font-weight: 600;
}

.greet .ingreet p {
	margin-top: 0px;
	margin: 2px;
	font-size: small;
}

.btns {
	grid-area: Btns;
	display: flex;
	gap: 5px;
	align-items: center;
}

.btns button {
	background-color: rgb(2, 118, 212);
	color: white;
	border: none;
	height: 2rem;
	width: 4rem;
	text-align: center;
	border-radius: 7px;
}

/* #endregion */

/* #region projects */

.main img {
	height: 1rem;
}

.projects {
	grid-area: Pro;
	margin-top: 10px;
	margin-left: 5px;
}

.projects p {
	font-size: 20px;
}

.projects .all-cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.projects .card {
	background-color: white;
	display: flex;
	border-radius: 5px;
	margin: 5px;
	min-height: 25vh;
}

.projects .card .deco-line {
	width: 10px;
	background-color: orange;
}

.card .card-main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-main .matter {
	margin: 10px;
}

.matter h5 {
	margin-bottom: 10px;
}

.card .card-main p {
	font-size: 10px;
	font-weight: 350;
}

.card-main .clogos {
	align-self: flex-end;
	margin-right: 10px;
}

/* #endregion */

/* #region ann */

.announcements {
	grid-area: Ann;
}

.announcements p {
	font-size: 20px;
	margin: 10px;
}

.announcements .ann-container {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.ann-container .ann .ap1 {
	font-weight: 700;
	font-size: small;
}

.ann-container .ann p {
	font-weight: 400;
	font-size: 9px;
	margin: 5px;
}

.ann-container .divline {
	width: 105%;
	background-color: gray;
	height: 1px;
}

/* #endregion */

/* #region tren */

.trending {
	grid-area: tren;
	padding: 10px;
}

.trending .tren-card {
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.tren-card .person {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 5px;
}

.person .txt {
	margin: 5px;
}

.person .txt p {
	font-size: small;
	font-weight: 370;
	margin-top: 2px;
}

.tren-card .person img {
	height: 2rem;
	border-radius: 50%;
	margin: 5px;
}

/* #endregion */
